################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SQLDBProject/obj/Debug/SQLDBProject.sqlprojAssemblyReference.cache
